{% extends 'base.twig' %}

{% block title %}Company_Details
{% endblock %}

{% block content %}
	<main class="Company">
		<section class="Company_Recherche_Utilisateur">
			<h1>{{ company.Name_Company }}</h1>
			<img id="img_search" src="assets/img/{{ company.Image_Company }}" alt="Logo de {{ company.Name_Company }}">
			<p>Email:
				{{ company.Email_Company }}</p>
			<p>Adresse:
				{{ company.Address_Company }}</p>
			<p>Description:
				{{ company.Description_Company }}</p>



			<div class="container-note" method='POST'>
				<div class="entreprises_intéressées">
					<h3>Note :
						{{error}}</h3>
					{% if note_message %}
						<p class="no-rating-message">{{ note_message }}</p>
					{% else %}
						<p class="Accueil-infos-titre">{{noteglobal}}/5</p>
					{% endif %}
					<div id="entreprises" class="entreprises-container"></div>
				</div>
				<form method='POST'>
					<div class="rating">
						<input type="radio" id="star5" name="rating" value="5">
						<label for="star5">&#9733;</label>

						<input type="radio" id="star4" name="rating" value="4">
						<label for="star4">&#9733;</label>

						<input type="radio" id="star3" name="rating" value="3">
						<label for="star3">&#9733;</label>

						<input type="radio" id="star2" name="rating" value="2">
						<label for="star2">&#9733;</label>

						<input type="radio" id="star1" name="rating" value="1">
						<label for="star1">&#9733;</label>
					</div>


					<button type="submit" class="btn-primary">Mettre une note</button>
				</form>

			</div>

            

			{% if user_role in [1, 2] %}
				<form method="POST">
					<button class="btn-primary" name="modify_company">Modification</button>
				</form>


				<form method="POST">
					<button type="submit" name="delete_company" class="btn-danger">Supprimer</button>
				</form>
			{% endif %}

		</section>
	</main>
{% endblock %}