{% extends 'base.twig' %}

{% block title %}Home_Page{% endblock %}

{% block content %}


<main>
		<section class="accueil-container">
			<div class="tableau_de_bord_profil">
				<div class="tableau_de_bord">
					<h3>
						Mon tableau de bord
						<img src="assets/img/voilier.png" class="icone-voilier"/>
					</h3>
					<p class="Accueil-infos-titre">Candidatures</p>
					<span class="Accueil-infos">{{Candidatures}}</span>
					<p class="Accueil-infos-titre">Wishlist</p>
					<span class="Accueil-infos">{{Wishlist}}</span>
          <p class="Accueil-infos-titre">Description</p>
					<span class="Accueil-infos">{{Description}}</span>
				</div>
				<div class="profil">
					<h3>Mon Profil</h3>
					<p class="Accueil-infos-titre">
						Nom
						<span class="Accueil-infos">{{lastname}}</span>
					</p>
					<p class="Accueil-infos-titre">
						Prénom
						<span class="Accueil-infos">{{firstname}}</span>
					</p>
				</div>
			</div>
		</section>
	</main>


{% endblock %}