{% extends 'base.twig' %}

{% block title %}Search_Page{% endblock %}

{% block content %}



<main class="Account">
  <section class="Account_Recherche_Utilisateur">
    <form method="POST" action="?page=Search" class="Account_Barre_Recherche">
      <label for="Account_Nom_utili">
        <input type="text" name="search_name" placeholder="Nom de l'étudiant" id="Account_Nom_utili" value="{{ search_name | default('') }}" />
      </label>
      <button type="submit" id="Account_Rechercher">Rechercher</button>
    </form>

    <hr />

    <section class="Account_list">
      <div class="Account_ligne">
          {% for account in accounts %}
              {% if  ((user_role == 1 and account.Id_Roles != 1) or (user_role == 2 and account.Id_Roles != 1 and account.Id_Roles != 2)) %}
                  <a href="?page=Search_Details&id={{ account.Id_Account }}">
                      <div class="Account_card">
                          <img src="assets/img/{{ account.Image_Account }}" />
                          <p>{{ account.FirstName_Account }} {{ account.LastName_Account }}</p>
                      </div>
                  </a>
              {% endif %}
          {% endfor %}
      </div>
  </section>

    <div class="Account_pagination">
        {% if account_page > 1 %}
          <a href="?page=Search&account_page={{ account_page - 1 }}" class="prev">Précédent</a>
        {% endif %}

        {% for i in 1..totalPages %}
          <a href="?page=Search&account_page={{ i }}" class="{% if i == account_page %}active{% endif %}">{{ i }}</a>
        {% endfor %}

        {% if account_page < totalPages %}
          <a href="?page=Search&account_page={{ account_page + 1 }}" class="next">Suivant</a>
        {% endif %}
    </div>
  </section>
</main>








{% endblock %}