{% block content %}
    {% for offer in offers %}
        <div class="offre">
            <h3>{{ offer.Title_Offer }}</h3>
            <p>{{offer.Company_Name}} - {{ offer.Address_Offer }}</p>
            <span class="tag">{{ offer.Contract_Offer }}</span>
            <span class="tag">{{ offer.ActivitySector_Offer }}</span>
            <span class="salaire">{{offer.Salary_Offer}}€ </span>
            <p>{{ offer.Description_Offer }}</p>
            <button class="voir-plus">Voir plus</button>
        </div>
    {% endfor %}

{% endblock %}