{% extends 'base.twig' %}

{% block title %}Voir_Plus{% endblock %}

{% block content %}
    <div class = "bloc_detail">
        <h3>Titre :  {{ offer.Title_Offer }}</h3>
        <p> Lieu : {{ offer.Address_Offer }}</p>
        <p>Entreprise : {{offer.Company_Name}}</p>
        <span class="tag">{{ offer.Contract_Offer }}</span>
        <span class="tag">{{ offer.ActivitySector_Offer }}</span>
        <span class="salaire">{{offer.Salary_Offer}}€ </span>
        <p class = "Description">{{ offer.Description_Offer }}</p>
        <a href="?page=DeleteOffer&id={{ offer.Id_Offer }}" id="bouton-supprimer">Supprimer</a>
        <a href="?page=ModifyOffer&id={{ offer.Id_Offer }}" id="bouton-modifier">Modifier Offre</a>
    </div>


    
{% endblock %}