{% extends 'base.twig' %}

{% block title %}Show_Account
{% endblock %}

{% block content %}

	<main class="main-account">

		<div class="container">
			<h2 class="blue_txt">{{firstname}}
				{{lastname}}</h2>

			<div class="profile-picture">
				<img id="profile-img" src="assets/img/{{imageaccount}}" alt="Photo de profil" style="cursor: pointer;">
				<input type="file" id="file-input" accept="image/png, image/jpeg" style="display: none;">
			</div>
			<form class="form-account">
				<label class="title">Qui suis je ? :</label>
				<label for="description2">{{descriptionaccount}}</label>
				<div class="form-group">
					<label class="title">Compte :</label>
					<label class="title">{{idrole}}</label>
				</div>
				<label class="title">Email :</label>
				<label class="blue_txt">{{emailaccount}}</label>

				<label class="title">Numéro de téléphone :</label>
				<label class="blue_txt">+33{{numberaccount}}</label>

			</form>

			<!-- Mise en place des notes et des commentaires-->

			<div class="container-note" method='POST'>
				<div class="entreprises_intéressées">
					<h3>Note :
						{{error}}</h3>
					<p class="Accueil-infos-titre">{{noteglobal}}/5</p>
					<div id="entreprises" class="entreprises-container"></div>
				</div>
				<form method='POST'>
					<div class="rating">
						<input type="radio" id="star5" name="rating" value="5">
						<label for="star5">&#9733;</label>

						<input type="radio" id="star4" name="rating" value="4">
						<label for="star4">&#9733;</label>

						<input type="radio" id="star3" name="rating" value="3">
						<label for="star3">&#9733;</label>

						<input type="radio" id="star2" name="rating" value="2">
						<label for="star2">&#9733;</label>

						<input type="radio" id="star1" name="rating" value="1">
						<label for="star1">&#9733;</label>
					</div>


					<button type="submit" class="btn-primary">Mettre une note</button>
				</form>

			</div>


			{% if idrole != 'Student' %}
				<button type="submit" class="btn-primary">Ajouter Compte</button>
				<button class="btn-primary" onclick="window.location.href='?page=ModifyAccount'">Modification</button>
				<button type="reset" class="btn-danger">Supprimer</button>
			{% endif %}


		</main>
	{% endblock %}
