{% extends 'base.twig' %}

{% block title %}Show_Account
{% endblock %}

{% block content %}

	<main class="main-account">

		<div class="container">
			<h2 class="blue_txt">{{firstname}}
				{{lastname}}</h2>

			<div class="profile-picture">
				<img id="profile-img" src="assets/img/{{imageaccount}}" alt="Photo de profil" style="cursor: pointer;">
				<input type="file" id="file-input" accept="image/png, image/jpeg" style="display: none;">
			</div>
			<form class="form-account">
				<label class="title">Qui suis je ? :</label>
				<label for="description2">{{descriptionaccount}}</label>
				<div class="form-group">
					<label class="title">Compte :</label>
					<label class="title">{{idrole}}</label>
				</div>
				<label class="title">Email :</label>
				<label class="blue_txt">{{emailaccount}}</label>

				<label class="title">Numéro de téléphone :</label>
				<label class="blue_txt">+33
					{{numberaccount}}</label>

			</form>
		</div>

		{% if idrole != 'Student' %}
			<button type="submit" class="btn-primary">Ajouter Compte</button>
			<button type="submit" class="btn-primary">Modification</button>
			<button type="reset" class="btn-danger">Supprimer</button>
		{% endif %}

	</main>


{% endblock %}
